.streamList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    &__image{
        position: absolute;
        height: inherit;
        width: inherit;
        object-fit: cover;
    }

    &__create{
        position: relative;
        display: block;
        text-decoration: none;
        font-size: 3rem;
        text-align: center;
        margin: 2rem;
    }
}

